body {
  background:lightgoldenrodyellow;
  font-family:sans-serif;
  text-transform:uppercase;
  text-align:center;
}

button{
  width:100px;
  height:20px;
}

.color {
  width: 100px;
  height: 100px;
  margin-top: 3px;
  border-radius:10px;
}

button:focus {
  outline:none;
}

#r {
  background-color: red;
}

#r.pressed {
  background-color: darkred;
}

#g{
  background-color: green;
}

#g.pressed {
  background-color: darkgreen;
}

#b {
  background-color: blue;
}

#b.pressed {
  background-color: darkblue;
}

#y {
  background-color: yellow;
}

#y.pressed {
  background-color: orange;
}

