/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Anton');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* SASS Mixins */

// Responsive Media Queries
$small-width: 1px;
$medium-width: 750px;
$big-width: 1050px;

@mixin for-small-screen {
  @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin for-medium-screen {
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin for-large-screen {
  @media (min-width: #{$desktop-width}){
    @content;
  }
}

// Gradient tool
@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

// Common styles
@mixin text-box($color) {
	background: $color;
	box-shadow:3px 4px 0px white;
	font-family:"Anton";
	text-align:right;
	font-size:18px;
	color:white;
	padding-right:20px;
	margin-bottom:12px;
}

/* Styles */

body {

  background:
    linear-gradient(
		  rgba(255,255,255, 0.25),
      rgba(255,255,255, 0.25)
    ),
    url(./images/asteroids.jpg);
    //background-position: 0px 0px;
}

.container {
	margin-top:50px;
	display:flex;
	justify-content: space-between;
	flex-direction:column;
}

.page {
	@include text-box(teal);
	margin:20px 40px;
	padding:30px 40px;
	text-align: left;
	box-shadow:6px 8px 0px white;

	h1 {
		font-size: 48px;
		margin-left: -10px;
		text-shadow:1px 3px 0px palegreen;
		margin-bottom:25px;
	}
	h2 {
		font-size:27px;
		margin-bottom:15px;
   	border-bottom: 3px solid palegreen;
   	margin: 10px 0 20px;
	}

	p {
		margin-bottom:15px;
		font-family:helvetica;
	}
}

/*
COLORS I LIKE:
lightskyblue
seagreen
mediumseagreen
lightblue
cornflowerblue
lightcoral
*/

$about-bg: darkCyan;
$about-accent:lightsalmon;
.about {

	background-color: $about-bg;
	h1 {
		text-shadow:1px 3px 0px $about-accent;
	}
	h2 {
		border-bottom: 3px solid $about-accent;
	}
}

$projects-bg: lightcoral;
$projects-accent:lightskyblue;

.projects {
	background-color: $projects-bg;
	h1 {
		text-shadow:1px 3px 0px $projects-accent;
	}
	h2 {
		border-bottom: 3px solid $projects-accent;
	}

	.collection {
		display:flex;
    flex-flow:column;

		.project {
      display:flex;
      flex-flow: column;
      .project-info {
        display:flex;
        flex-flow: row;
        .project-icon {
    			width:75px;
    			height:75px;
    			margin-right: 15px;
          margin-bottom: 15px;
    			background-color:$projects-accent;
    			box-shadow:3px 4px 0px white;
        }
        .project-about {
        }
    }
		}
	}
}

$contact-bg: cornflowerblue;
$contact-accent:$projects-bg;
.contact {
	background-color: $contact-bg;
	h1 {
		text-shadow:1px 3px 0px $contact-accent;
	}
	h2 {
		border-bottom: 3px solid $contact-accent;
	}
	p {
		font-family:Calibri;
	}
}


.welcome {
	width:40%;
	margin-bottom: 25px;
	justify-content: space-between;
	.left {
		display:block;
	}
}

.greeting {
	font-size:72px;
	margin-left: 40px;
	color:white;
	text-shadow:3px 4px 0px turquoise;
	font-family:"Anton";
}

.tagline {
	@include text-box(cornflowerblue);
  margin-bottom:20px;
	font-size:28px;
	max-width:410px;
	margin-left:-50px;

}

.choices {
	a {
		text-decoration: none;
	}

	.choice {
		@include text-box(lightSalmon);
		box-shadow:3px 3px 0px white;
		width:250px;
		margin-left:-50px;
		padding-top:2px;
		padding-bottom:2px;
	}
}
